$jet: rgba(54, 54, 54, 1);
$gunmetal: rgba(36, 47, 64, 1);
$gold: rgba(204, 164, 59, 1);
$platinum: rgba(229, 229, 229, 1);
$white: rgba(255, 255, 255, 1);
$rose: rgba(204, 49, 101, 1);
$logo-font: "Poller One", cursive;
$main-font: "Rokkitt", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  text-align: center;
  color: $gunmetal;
  height: 100vh;
  background: url("./img/background-small.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  overflow: scroll;
}

header {
  background: $gunmetal;
  width: 100vw;
  height: 10vh;
  position: relative;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $gold;
    font-family: $logo-font;
  }
  nav {
    position: absolute;
    left: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    svg {
      display: none;
      fill: $jet;
      width: 30px;
      height: auto;
      position: fixed;
      top: 15px;
      left: 15px;
      z-index: 2;
      transition: all 1s ease-in-out;
    }
    .link {
      height: 4px;
      width: 30px;
      background: $gold;
      z-index: 1;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in-out;
    }

    .link:first-child {
      margin-top: 0;
    }
    .link:last-child {
      margin-bottom: 0;
    }
    .home {
      background: #ffef3d;
    }
    .why {
      background: #e8c838;
    }
    .who {
      background: #ffcc4a;
    }
    .what {
      background: #e8a438;
    }
    .where {
      background: #ff9b3d;
    }
    .contact {
      background: #f3b071;
    }
    p {
      display: none;
      font-size: 2rem;;
    }
  }
  nav:hover {
    border-radius: 10px;
  }
}

.hero {
  background: rgba(204, 164, 59, 0.3);
  height: 90vh;
  color: white;
  text-shadow: 0 0 5px $gunmetal;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  width: min-content;
  margin: 30px auto;
  padding: 5px;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 5px;
}

.section:not(.what):not(.who) {
  height: 100vh;
}

.section-content {
  padding: 30px;
  margin: 10px 0;
  background: linear-gradient(
    rgba(204, 164, 59, 0),
    $gold 7%,
    $gold 93%,
    rgba(204, 164, 59, 0)
  );

  img {
    margin: 5px;
    width: 20px;
    height: auto;
  }
}
.person {
  width: 40vw;
  height: 40vw;
  border-radius: 100px;
  margin: 20px auto 0 auto;
}

.p1 {
  background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb")
    center no-repeat;
  background-size: cover;
}
.p2 {
  background: url("https://images.unsplash.com/photo-1504347538039-a53f6ff0131d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=ca7cc3097e24937904aadfe78b36780c")
    center no-repeat;
  background-size: cover;
}
.p3 {
  background: url("https://pbs.twimg.com/profile_images/935681507963887616/yn7PKqTT.jpg")
    center no-repeat;
  background-size: cover;
}

.where {
  h3 {
    border-top: 3px solid $rose;
    width: 50vw;
    margin: 10px auto 2px auto;
    padding: 10px 0 0 0;
  }
}

.contact {
  h3 {
    margin-top: 30px;
  }

  span {
    color: $rose;
  }
  button {
    background: $rose;
    border-top: 2px solid #c99eac;
    border-left: 2px solid #c99eac;
    border-bottom: 2px solid #c70948;
    border-right: 2px solid #c70948;
    color: $gold;
    font-weight: bolder;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .contact-icons {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 20px;
    height: auto;
    fill: $gunmetal;
    margin: 5px;
    cursor: pointer;
  }
  svg:hover {
    fill: $rose;
  }
}

input {
  width: 60vw;
  border-radius: 5px;
  background: $platinum;
  margin: 3px auto;
}

input[type="textarea"] {
  width: 100%;
  height: 30vh;
  margin: auto;
}

footer {
  background: $gunmetal;
  color: $gold;
  padding: 10px;
  p {
    padding: 0;
    margin: 0;
    background: none;
    margin-bottom: 0;
  }
}

.card-beer {
  width: 70%;
  margin: 50px auto;
  background: #fff;
  border-radius: 50px;
  h3 {
    padding: 40px;
    background: $gold;
  }
  img {
    width: auto;
    max-height: 70vh;
    height: auto;
  }
}

@media (min-width: 600px) {
  body {
    background: url("./img/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
