* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rokkitt", serif;
  text-align: center;
  color: #242f40;
  height: 100vh;
  background: url("./img/background-small.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  overflow: scroll;
}

header {
  position: fixed;
  background: #242f40;
  width: 100vw;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  z-index: 30;
}
header h1 {
  color: #cca43b;
  font-family: "Poller One", cursive;
}
header nav {
  background: #242f40;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
header nav svg {
  display: none;
  fill: #363636;
  width: 30px;
  height: auto;
  top: 20px;
  left: 15px;
  z-index: 2;
  transition: all 1s ease-in-out;
}
header nav .link {
  height: 4px;
  width: 30px;
  background: #cca43b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
header nav .big {
  width: 93vw;
  height: calc(70vh / 6);
}
header nav .home {
  background: #ffef3d;
}
header nav .why {
  background: #e8c838;
}
header nav .who {
  background: #ffcc4a;
}
header nav .what {
  background: #e8a438;
}
header nav .where {
  background: #ff9b3d;
}
header nav .contact {
  background: #f3b071;
}
header nav a {
  display: none;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #242f40;
  line-height: calc(70vh / 6);
}
header nav:hover {
  border-radius: 10px;
}

.menu {
  width: 100vw;
  height: 85vh;
}

.hero {
  padding: 70px 0;
  background: rgba(204, 164, 59, 0.3);
  height: 100vh;
  color: white;
  text-shadow: 0 0 5px #242f40;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  width: min-content;
  margin: 20vh auto 10px auto;
  padding: 5px;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 5px;
}

.section-content {
  padding: 30px;
  margin: 10px 0;
  background: linear-gradient(rgba(204, 164, 59, 0), #cca43b 7%, #cca43b 93%, rgba(204, 164, 59, 0));
}
.section-content img {
  margin: 5px;
  width: 20px;
  height: auto;
}

.section {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1s ease-in-out;
  padding-top: 20px;
}

.picture {
  width: 40vw;
  height: 40vw;
  border-radius: 300px;
  transform: scale(0.8);
  transition: all 1s ease-in-out;
  margin: auto;
}

.p1 {
  background: url("./img/p1.jpg") center no-repeat;
  background-size: cover;
}

.p2 {
  background: url("./img/p2.jpg") center no-repeat;
  background-size: cover;
}

.p3 {
  background: url("./img/p3.jpg") center no-repeat;
  background-size: cover;
}

.grow {
  transform: scale(1);
}

.where h3 {
  width: 50vw;
  margin: 10px auto 2px auto;
  padding: 10px 0 0 0;
}
.where .line {
  height: 3px;
  width: 10px;
  background: #cc3165;
  margin: 10px auto -5px auto;
  transition: all 1s ease-in-out;
}

.longer {
  transform: scaleX(20);
}

.contact h3 {
  margin: 30px auto 10px auto;
}
.contact span {
  color: #cc3165;
}
.contact button {
  background: #cc3165;
  border: 2px solid #c70948;
  color: #cca43b;
  font-weight: bolder;
  border-radius: 30px;
  margin: 15px 0 20px 0;
  padding: 10px;
  font-family: "Rokkitt", serif;
  font-size: 1.1rem;
  cursor: pointer;
}
.contact .contact-icons {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact svg {
  width: 20px;
  height: auto;
  fill: #242f40;
  margin: 5px;
  cursor: pointer;
}
.contact svg:hover {
  fill: #cc3165;
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

input {
  width: 60vw;
  height: 25px;
  border-radius: 30px;
  background: #e5e5e5;
  margin: 3px auto;
  border: 2px solid #363636;
}

input[type=textarea] {
  width: 100%;
  height: 30vh;
  margin: auto;
}

footer {
  background: #242f40;
  color: #cca43b;
  padding: 10px;
}
footer p {
  padding: 0;
  margin: 0;
  background: none;
  margin-bottom: 0;
}

.card-beer {
  width: 53%;
  height: 85vh;
  margin: 50px auto;
  background: #cca43b;
  border-radius: 50px;
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1s ease-in-out;
  position: relative;
}
.card-beer h3 {
  padding: 30px;
  background: white;
}
.card-beer img {
  width: auto;
  max-height: 70vh;
  height: auto;
  position: relative;
}
.card-beer p {
  position: relative;
  top: -50vh;
  left: 15%;
  font-size: 2rem;
  width: 100%;
}

.rauchbock,
.stout {
  transform: translate(50px, 0);
}

.pilsner,
.ale {
  transform: translate(-50px, 0);
}

.pilsner p {
  left: 22%;
}

.pilsner img,
.rauchbock img {
  left: -27vw;
}

.ale img,
.stout img {
  top: -25px;
  left: -30vw;
}

.fade-in {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out;
}

@media (max-height: 500px) {
  .picture {
    transform: scale(0.6);
  }

  .grow {
    transform: scale(0.8);
  }

  .card-beer {
    height: 50vh;
    border-radius: 0 0 50px 50px;
  }
  .card-beer h3 {
    padding: 5px;
  }
  .card-beer p {
    top: -46vh;
    left: 5%;
  }
  .card-beer img {
    height: 50vh;
    width: auto;
  }

  .who .section-content {
    padding-bottom: 90px;
  }
}
@media (min-width: 576px) {
  body {
    background: url("./img/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  header nav svg {
    left: 30px;
  }
  header nav .big {
    width: 95%;
    height: calc(40vh / 6);
  }
  header nav a {
    font-size: 1.7rem;
    line-height: 230%;
  }

  .menu {
    width: 50vw;
    height: 50vh;
  }

  .hero p {
    padding: 50px;
  }

  .section p {
    font-size: 1.2rem;
  }

  .picture {
    transform: scale(0.5);
  }

  .grow {
    transform: scale(0.8);
  }

  .who .section-content {
    padding-bottom: 100px;
  }

  .where .section-content {
    display: flex;
    align-items: center;
    width: 100vw;
  }
  .where .section-content .line {
    width: 3px;
    height: 50px;
  }
  .where .section-content .longer {
    transform: scaleY(4);
  }
  .where .section-content h3 {
    width: auto;
  }
  .where .section-content h4 {
    margin: 10px;
  }

  .card-beer p {
    font-size: 3rem;
    left: 10%;
  }

  .contact-icons {
    padding-top: 20px;
  }

  footer p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .beers {
    display: flex;
    flex-wrap: wrap;
  }

  .card-beer {
    width: 40%;
    height: 50vh;
  }
  .card-beer p {
    font-size: 2rem;
    top: -30vh;
  }
  .card-beer img {
    height: 40vh;
    top: -5vh;
    left: -12vw;
  }

  .who .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .who .section-content .person {
    width: 33%;
  }
  .who .section-content .person .picture {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }

  .grid {
    margin: 0 auto;
  }
  .grid input {
    width: 30vw;
  }
}

/*# sourceMappingURL=index.css.map */
